*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100%;
    width: 100%;
    overflow-x: none;
    
}

.navcontainer{
    width: 100vw;
    /*background-color:rgb(79, 79, 144);*/
    background-color: #0093e9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative
}

nav{
    width: 100vw;
    overflow-x: none;
    text-align: center;
}

#navlist{
    width: 100vw;
    padding: 15px;
    list-style: none;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navlogo{
    font-size: 2.8rem;
    color:white;
}
a{
    text-decoration: none;
    color: azure;
}
#navitems{
    display: flex;
    gap: 40px;
}
.footerbox{
    background-color: #0093e9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color: azure;
    width: 100%;
    text-align: center;
    min-height: 40px;
}
.footerbox p{
    color: azure;
    font-size: 2rem;
}
.contentbox{
    width: 70vh;
    margin: auto;
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 100%;
}
.item{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.rightbox img{
    height: 300px;
    border-radius: 20px;
}