* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

#video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 126%;
  width: 100%;
  object-fit: fill;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px; 
}

.image-container {
  position: relative;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
  border: 2px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  padding: 10px;
}

.img-fluid {
  width: auto;
  height: auto;
  border-radius: 10px;
}

.image-container:hover {
  box-shadow: 0px 5px 15px rgba(227, 228, 237, 0.5);
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}
